/* Fuentes 
1: font-family: 'Roboto', sans-serif; 
2: font-family: 'Indie Flower', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Variables colores */

:root {
    --color-1: #B4CFEA;
    --color-2: #A0AFC5;
    --color-3: #1916A5;
    --color-4: #110C66;
    --color-5: #6F8DAC;
    --color-6: #4D56B9;
    --color-7: #AA7278;
}

/* MOBILE FIRST */

/* Pié de página*/ 
footer{
    background-color: var(--color-5);
    color: var(--color-4);
    font-family: 'Roboto', sans-serif; 
    font-weight: 900;
    text-align: center;
    font-size: 13px;
}

/* TABLETS */

@media screen and (min-width: 768px) {
    footer{
        font-size: 16px;
    }
    
}

/* DESKTOP */

@media screen and (min-width: 1000px) {
    footer{
        font-size: 18px;
    }
}